
@{
    ViewBag.Title = "ReturnSuccess";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<div class="student-dash-title">
    <h6>Library Return Success</h6>
</div>
<div class="book-fines-details mt-2">
    <p class="my-1 mx-0"><i class="fa fa-check-circle text-success"></i><b class="mx-2">Thank you !</b>, You have successfully, returned the book.</p>
</div>
<div class="mt-1 py-3">
    <a href="@Url.Action("Dashboard", "Student")" class="student-btn stu-btn-primary">Back to Dashboard <i class="fa fa-chevron-right"></i></a>
</div>



