
@{
    ViewBag.Title = "EventHostingSuccess";
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.PageName = "Event Hosted";
}

<p class="alert alert-success m-0 mb-1">The request has been completed with <b>0</b> errors.</p>
<a class="btn btn-primary mt-2" href="@Url.Action("EventsIndex", "Event")">View Events</a>


