
@{
    ViewBag.Title = "ReserveSuccess";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<div class="student-dash-title">
    <h6>Events & Progrms -> Reservation Successful.</h6>
</div>
<p class="my-2 mx-0">Confirm ticket reservation.</p>
<hr />
<h1><i class="fa fa-check-circle text-success"></i></h1>
<p>Thank you for choosing <b>Innovation Library Events</b></p>
<hr />
