
@{
    ViewBag.Title = "PaymentRequestSuccess";
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.PageName = "Payment Request Success";
}

<hr />

<p class="alert alert-success">An email requesting the payment has been sent to the student.</p>

