
@{
    ViewBag.Title = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Student.cshtml";
}
<div class="student-dash-title">
    <h6>Checkout Success</h6>
</div>
<p class="exchange-vl mt-2 text-success">
    <i class="fa-solid fa-circle-exclamation"></i>
    <b>Success</b> Your request has been successfuly processed.
</p>
<h2>Checkout Success</h2>
<p class="text-dark">Thank you for working with <b>Innovation Library Team</b> in solving our customer's issues we have received you payment.</p>
<p class="alert alert-info"><b>Note</b> Don't forget to rate our services when leaving this place, that will be highly appreciated as it will help us improve our services.</p>
<a class="btn btn-light rounded-1" href="@Url.Action("UserOrders", "Order")">Go Back To My Orders</a>


