
@{
    ViewBag.Title = "ExchangeSuccess";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<!-- Title Section -->
<p class="exchange-vl">
    <i class="fa-solid fa-circle-exclamation"></i>
    <b>Success</b> Your request has been successfuly processed.
</p>
<h2>Exchange Success</h2>
<p class="text-dark">Thank you for working with <b>Innovation Library</b> in solving our customer's issues.</p>
<p class="alert alert-info"><b>Note</b> Don't forget to rate our services when leaving this place, that will be highly appreciated as it will help us improve our services.</p>
<a class="btn btn-light rounded-1" href="@Url.Action("UserOrders", "Order")">Go Back To My Orders</a>


