
@{
    ViewBag.Title = "RefundSuccess";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<div class="student-dash-title">
    <h6>Refund Request Success</h6>
</div>

<div class="bg-light mt-2 py-4 px-4">
    <p class="alert alert-success">We are sorry for any issue we may have caused, we'll try to improve our services.</p>
    <hr />
    <a href="@Url.Action("Index", "OrderManagement")" class="btn btn-dark">Go Back</a>
</div>
