body-content-wrapper {
position: relative;
z-index: 3000;
}

.order-filling-tracker {
display: flex;
justify-content: space-between;
width: 100%;
position: relative;
z-index: 4000;
}

.order-filling-tracker .icon-circle {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #4c1aa8;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: thistle;
    z-index: 6000;
    position: relative;
}

.order-filling-tracker .icon-circle .circle-status {
    position: absolute;
    bottom: -60%;
    color: #4c1aa8 !important;
}

.order-filling-tracker .circle-pending {
    border: #4c1aa8 !important;
    background: thistle !important;
    color: #4c1aa8 !important;
}

.order-filling-tracker .tracker-line {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #5a20c4;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.order-grid {
display: grid;
grid-template-columns: 4fr 2fr;
gap: 30px;
}

.order-tracking-nav {
display: grid;
grid-template-columns: 4fr 1fr;
gap: 10px;
}

.order-tracking-details {
border: 1px solid #d2d2d2;
margin-top: 14px;
}

.order-tracking-details .order-tracking-title {
    background: #f4f4f4;
    padding: 10px;
}

.order-tracking-details .order-tracking-content {
    padding: 14px 10px;
}

.order-tracking-details .order-tracking-content p {
    margin: 0;
}

.out_side {
border: 1px solid #d5d5d5;
}

.grid-30 {
display: grid;
grid-template-columns: 4fr 1fr;
gap: 30px;
}

.user_info {
display: flex;
grid-template-columns: 1fr 1fr;
gap: 10px;
margin: 10px 0;
}

.order-tracking-title {
background: #f4f4f4;
padding: 10px;
}

.user-tracking .key_grid {
display: flex;
align-items: center;
margin-bottom: 2px;
}

.user-tracking .key_grid p {
    margin: 0 20px !important;
}

.user-tracking .user-order-tracking-wrapper {
display: flex;
justify-content: space-between;
padding: 0 30px;
position: relative;
}

.user-tracking .user-order-tracking-wrapper .order-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #f4f4f4;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    border-radius: 50%;
    z-index: 5000;
    border: 4px solid #fff;
    background: #000;
    color: white;
}

.user-tracking .user-order-tracking-wrapper .order-tracking-line {
    position: absolute;
    width: 100%;
    left: 0;
    height: 6px;
    background: #f4f4f4;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background: #000;
}

.digital-signature {
position: absolute;
left: 0;
top: 0;
z-index: 9000;
background: rgba(0, 0, 0, 0.8235294118);
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.digital-signature .digital-signature-wrapper {
    padding: 20px;
    background: #fff;
    width: 80%;
}

.digital-signature .digital-signature-wrapper .digital-sign-container .signature {
    height: 40vh;
    border: 1px solid #d5d5d5;
}

    .digital-signature .digital-signature-wrapper .digital-sign-container .signature .loader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5647058824);
        justify-content: center;
        flex-direction: column;
    }

.digital-signature .digital-signature-wrapper .digital-sign-container .signature .loader img {
    width: 40px !important;
}

#close_signature {
cursor: pointer;
background: none;
outline: none;
}

@font-face {
font-family: "Open_Sans";
src: url(../../../fonts/OpenSans-Regular.ttf);
}

@font-face {
font-family: "PT_Sans";
src: url(../../../fonts/PTSans-Regular.ttf);
}

@font-face {
font-family: "Titillium";
src: url(../../Assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
font-family: "QuickSand";
src: url(../../../fonts/Quicksand-Regular.ttf);
}

body {
font-family: "Titillium";
}

::-moz-placeholder {
font-family: "Titillium" !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
::placeholder,
a {
font-family: "Titillium" !important;
}

.form-control,
.btn {
border-radius: 0 !important;
box-shadow: none !important;
}

.bg-primary{
    background : #5a20c4 !important;
}

.inner-progress{
    width: 0%;
    height: 100%;
    background: #5a20c4 !important;
}
.pro-50{
    width: 50% !important;
}
.pro-100{
    width: 100% !important;
}

.form-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-control:focus {
border-color: #4c1aa8;
}
/*# sourceMappingURL=style.css.map */
